<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nunes Sports</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div id="logo">
      <div id="icon-logo">
        <img src="assets/icons/sports_football.svg" width="50px" alt="ball icon">
      </div>
      <div id="text-logo">
        <h1>Nunes</h1>
        <h1>Sports</h1>
      </div>
    </div>
    <nav>
      <ul>
        <a href="/home" rel="next"><li>Home</li></a>
        <a href="/cadastro"><li>Cadastro</li></a>
        <li>About</li>
      </ul>
    </nav>
  </header>
  <hr>
  <main>
    {{{body}}}
  </main>
  <hr>
  <footer>
    <p>&copy; Nunes Sports 2024</p>
  </footer>
</body>
</html>