* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

:root {
  --maincolor: #ff8c00;
}

header {
  background-color: black;
  height: 100px;
  color: white;
  display: flex;
  justify-content: space-between;
}

header > div#logo {
  margin-left: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#logo > div#text-logo h1 {
  font-size: 1.5em;
  font-family: 'Sixtyfour', sans-serif;
}

div#logo > div#icon-logo {
  filter: invert(1);
  margin-right: 5px;
}

nav {
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: flex;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav li {
  list-style: none;
  padding: 10px 30px;
  margin-right: 5px;
  font-size: 1.5em;
  box-sizing: border-box;
  border: 3px solid transparent;
  border-radius: 15px;
}

nav li:hover {
  border: 3px solid var(--maincolor);
  cursor: pointer;
}

div#profile {
  width: 80px;
  background-color: white;
  border-radius: 50%;
  margin: 15px 25px;
  border: 5px solid transparent;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
}

div#profile > abbr {
  text-decoration: none;
}

div#profile:hover {
  border: 5px solid var(--maincolor);
}

/* MAIN */

main {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--maincolor);
}

/* FOOTER */
footer {
  width: 100%;
  background-color: black;
  padding: 20px;
  color: white;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
}